*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: #ECECEC;
    width: 100%;
    height: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 30vw;
}

.usuario_medico{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.medico_avatar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.medico_avatar h1
{
    font-size: clamp(2rem, 6vw, 10vh);
    color: #464646;
}

.medico_avatar p
{
 font-size: clamp(0.8rem, 5.8vw, 7vh);
 color: #A3A3A3;
}

.medico_avatar img
{
    width: 15%;  
    max-width: 900px;
    min-width: 80px;
    height: 100%;
    margin-left: 15px;
}

.dia-titulo {
    font-size: clamp(1.1rem, 7vw, 6vh);
    padding: 5px;
    color: #464646;
    margin-top: 40px;
}

.dia-titulo h4 {
    margin-left: 20px;
}

.consultas {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.consultas-remoto {            
 background-color: #ffff;
 margin-top: 20px;
}

.consultas-cliente {
display: flex;
align-items: center;
border-bottom: 0.01px solid #464646;
border-width: 0.5px;
}

.consultas-cliente h3 {
    font-size: clamp(1rem, 5vw , 5vh);
}

.consultas-cliente img {
    width: 13%;
    padding: 10px;
}

.ConsultaRemotaLogo {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: clamp(1rem, 5vw, 3.5vh);
}

.ConsultaRemotaLogo img{
    width: 7%;
}

.consultas-horario {
    margin-left: 16px;
    font-size: 1.3rem;
    padding: 4px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.consultas-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.consultas-btn button {
    width: 40vw;
    height: 50px;
    border-style: none;
    border-radius: 15px;
    font-size: clamp(1rem, 2.6vw, 2.7vh);
    padding: 1px;
    cursor: pointer;
}

.video {
    background-color: #FFB050;
    color: #FFFFFF;
}

.video:hover {
    background-color: #e09b46;
}

.audio {
    background-color: #ECECEC;
    color: #464646;
}

.audio:hover {
    background-color: #dadada;
}

.endereco {
    background-color: #4894FF;
    color: #FFFFFF;
    width: 91%;
    height: 50px;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
}

.endereco:hover {
    background-color: #3e7cd3;
}

.consultas-presencial-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.menu {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    background-color: #ffffff;
    border-radius: 15px;
    position: fixed;
    bottom: 0%;

}

.menu h3 {
    font-size: clamp(1rem, 4.5vw, 3.5vh);
    width: auto;
    display: flex;
    justify-content: center;
     margin-top: 3px; 
}

.icone {
    display: flex;
    flex-direction: column;
    width: 5%;
    min-width: 70px;
    max-width: 15%;
    height: auto;
    align-items: center;
    gap: 10px;
}

.icone img {
    width: 40%;
}

.menu-consultas h3 {
}

#menu-clientes  {
   padding-top: 8px;
}

#menu-relatorios  {
   margin-top: 6px;
}

#menu-relatorios h3 {
    margin-bottom: 15px;
}

.icone:hover h3 {
    border-bottom: 1px solid #4894FF ;
    color: #4894FF;
}




/* dispositivos com telas menores que 280px */
@media (max-width: 320px) {
    .menu h3 {
        font-size: 0.8rem;
    }

    .icone img {
        width: 40%;
    }
}

/* dispositivos com tela entre 600px e 1000px (celulares e tablets) */
@media (min-width: 600px) and (max-width: 1000px) {
    .menu h3 {
        font-size: 1.2rem;
    }

    .icone img {
        width: 50%;
    }

    .consultas-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .consultas-remoto {
        width: 49%;
        height: auto;
    }

    .consultas-cliente h3 {
        font-size: clamp(1rem, 2.8vw , 5vh);
    }

    .ConsultaRemotaLogo {
        font-size: clamp(1rem, 3vw, 3.5vh);
    }
}

@media (min-width: 1024px)
{
    .consultas-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .consultas-remoto {
        width: 49%;
        height: auto;
    }

    .consultas-cliente {
        height: auto;
    }

    .consultas-cliente h3 {
        font-size: clamp(1rem, 2.7vw , 5vh);
    }

    .ConsultaRemotaLogo {
        font-size: clamp(1rem, 3vw, 3.5vh);
    }

    .consultas-btn button {
        height: 5vw;
        max-height: 7vh;
        font-size: clamp(1rem, 2.3vw, 2.5vh);
    }
    
    .endereco {
        height: 5vw;
        max-height: 7vh;
        font-size: clamp(1rem, 2.3vw, 2.5vh);
    }

    .consultas-presencial-btn {
        
    }

}


